<main class='p-2'>
  <div class='card p-2'>
    <p id='test'>
      Hello world!
    </p>
    <p id='test' class='test' hidden>
      Hello world! Hello world! Hello world! Hello world! Hello world!
    </p>
    <span class='test'>Test span</span>
  </div>
  <pre> qwerty</pre>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  <div style='padding: 50px 0px 50px 100px; background:gray '>
    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>

    <span class='block'> Inline-block Inline-block Inline-block Inline-block Inline-block Inline-block Inline-block Inline-block Inline-block </span>

  </div>

  <div>Block</div>

</main>