{{!-- {{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA </h1>
  <h1>USB хаб Type C 12 в 1 HDMI VGA </h1>
  <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA </h2>

  <button type='button' class='button' id='button'>Купити</button>
  <p class='user'>Link</p>
</section>
<footer class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA </h1>

  {{! <p class='user user-last'>Link</p> }}
  <p class='user'>This is p teg
    <em>
      The em teg

    </em>
  </p>
</footer>

<hr />

<section class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA</h1>
  <em>The em teg</em>
  <p class='user'>This is p teg</p>
</section>
<section class='p-5 box'>
  <strong>This is strong teg</strong>
  <h1>USB хаб Type C 12 в 1 HDMI VGA</h1>
  <p class='user'>This is p teg</p>
</section>
{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }} --
  закоментовано код урока 1}}}}--}}

{{! <div class='card p-5 m-5 card-dark'>
    <ul>
      <li class='item item-first'>1</li>
      <li class='item'>2</li>
      <li class='item'>3</li>
      <li class='item'>4</li>
    </ul>
  </div> }}
{{! <div class='card p-5 m-5 card-dark'>
    <ul>
      <li class='item'>first-child</li>
      <li class='item'>2</li>
      <li class='item'>3</li>
      <li class='item'>last-child</li>
    </ul>
  </div>
  <div class='card p-5 m-5 card-dark'>
    <ul>
      <li class='item'>only-child</li>
    </ul>
  </div>
  <div class='card p-5 m-5 card-dark'>
    <div class='item'>only-child</div>
  </div>
  <div class='card p-5 m-5 card-dark'>
    <div class='item'>First</div>
    <div class='item'>Second</div>
    <article class='item'>Article</article>
    <p class='item'>last</p>
  </div>
  <div class='card p-5 m-5 card-dark'>
    <div class='item'>First</div>
    <div class='item'>Second</div>
    <div class='item'>Second</div>
    <div class='item'>Second</div>
    <article class='item'>Article</article>
    <p class='item'>last</p>
  </div>
  <div class='card p-5 m-5 card-dark'>
    <div class='item'>First одиничний</div>
    <div class='item'>Second</div>
    <div class='item'>Second</div>
    <div class='item'>Second</div>
    <article class='item'>Article</article>
    <p class='item'>last</p>
  </div>
  <div class='card p-5 m-5 card-dark'>
    <div>First :nth-of-type</div>
    <div class='item'>Second</div>
    <div class='item'>Second</div>
    <div class='item'>Second</div>
    <article class='item'>Article</article>
    <p class='item'>Teg p</p>
    <p class='item'></p>
    <p class='item'>Teg p </p>
    <div class='item'>First одиничний</div>
    <div class='item'>Second</div>
    <div class='item'>nd</div>
    <div class='item'>Second</div>
    <article class='item'>Article</article>
    <p class='item'>last</p>
    <p>Not</p>
    <p class='item'>last</p>
    <p class='item'>last</p>
    <p class='item'>last</p>
    <p class='item'>last</p>
  </div>

  закоментовано попередній урок }}
{{! <div class='card p-5 m-5 card-dark'>
    <input class="input-dark">
    <input class="input-dark" required>
    <input class="input-dark" type="number">
  </div>
  <div class="card p-5 m-5 card-dark">
    <img alt="image smal card 100px" class="small-img" src="https://picsum.photos/200/300 " height="100px">
  </div>
  <div class="card p-5 m-5 card-dark">
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300 " height="100px" />
    <a href="https://picsum.photos/200/300" rel="external">Link</a>
    <button class="btn">Click me</button>
    <a class="before-after btn btn-secondary" href="https://picsum.photos/200/300">Click me</a>
    <a class="small btn btn-secondary" href="https://picsum.photos/200/300">Click me</a>
    <a class="small btn btn-secondary zsdnbbsdvsdzvfvsdv big" href="https://picsum.photos/200/300">Click me</a>
  </div>
  <div class="card p-5 m-5 card-dark">
    <p class="big-text">This is paragraph <br> adsdjf aeekfgaefkjhjgg aegagwefwfga kgsdfkjasjdfgf
      sdfsdf
      sdfsdf
    </p>
  </div>
  <div class='card p-5 m-5 card-dark'>
    <input class="input-dark" placeholder="Placeholder text">
  </div>
  
  
     закоментовано попередній урок 
     
                урок 4   }}

<div lang='fr' class='card p-5 m-5 card-dark'>
  <a class='link' href='https://www.gooogle.com/'>Click me</a>
</div>

<div lang='en' id='test' class='card p-5 m-5 card-dark'>
  {{! Anchor }}
  <input />
</div>
<div lang='en' id='test' class='card p-5 m-5 card-dark'>
  <input />
  <span>Hello world</span>
</div>

<div class='p-5 m-5 card-dark'>
  <button>Test button</button>
  <button disabled>Disabled button</button>
</div>
<div class='p-5 m-5 card-dark'>
  <input class='inp' />
  <input class='inp' readonly />
  <input class='inp' disabled />
</div>

<div class='p-5 m-5 card-dark'>
  <input class='inp' />
  <div class='mt-2'>
    <div>
      <input type='checkbox' checked />
      <span>First checkbox</span>
    </div>
    <div>
      <input type='checkbox' />
      <span>Second checkbox</span>
    </div>
  </div>
</div>
<div class='p-5 m-5 card-dark'>
  <input type='email' required class='valid' />
  <input type='email' class='valid' />
</div>

<div class='p-5 m-5 card-dark'>
  <div>
    <input type='email' required class='valid' placeholder='Test' />
    <span>Test text</span>
  </div>

  <div class='mt-2'>
    <input type='number' min='10' max='20' required class='number' />
  </div>
</div>