/* :root {
  background: purple;
}

html {
  max-width: 720px;

  background: blue;
}

body {
  background: #fff;
}

* {
  color: red;
}

h1 {
  color:green;
}
h1 {
  color: blue;
}
.box {
  background:#d1c7c7 ;
  ;
}

h1, 
h2#user, 
button.button#button{
  color: green;
}
#user,
.user {
  color: blue;
}
.button { background: red;}

#box >p {
  color: paleturquoise;
}

/* .user-last {
  color: palevioletred;
}  замінимо */
/* footer > .user,

footer>h1 {
  color: palevioletred;
} 
footer em {
  color: palevioletred;
} 
h1 + p {
  background: black;
} */
/* 

      закоментовано код урока 1*/

.card-dark {
  background: #e6e2e2;
}
.item {
  color: green;
}
/* .item-first {
  color: blue;
} */
.item:first-child {
  color: blue;
}
.item:last-child {
  color: blueviolet;
}
.item:only-child {
  /*одиничний*/
  color: red;
}
.item:first-of-type {
  /* першим з'являється по типу*/
  color: aqua;
}
.item:last-of-type {
  /* останнім з'являється по типу*/
  color: rgb(23, 79, 79);
}
.item:only-of-type {
  /* одиничний по типу*/
  color: red;
}
.item:nth-child(3n + 1) {
  color: yellowgreen;
}
.item:nth-last-child(3n + 1) {
  color: rgb(26, 37, 3);
}
.item:nth-of-type(2) {
  color: blue;
}
.item:nth-last-of-type(2) {
  color: wheat;
}
/* p:not(.item) {
  color: whitesmoke;
} */
.item:not(p) {
  color: rgb(207, 190, 190);
}
p:empty {
  height: 10px;
  background: red;
}
.input-dark {
  background: #c7bdbd;
}
.input-dark[required] {
  background: #c69090;
}
.input-dark[type='number'] {
  background: #04da20;
}
.small-img[alt~='small'] {
  height: 500px;
}
a[rel~='external'] {
  color: green;
}
button[class|='btn'] {
  background: rgb(231, 205, 205);
}
a[class^='btn'] {
  background: rgb(235, 129, 129);
}
a[class*='btn'] {
  background: rgb(235, 129, 129);
}
a[class$='big'] {
  background: rgb(18, 46, 189);
}
.btn::first-letter {
  color: red;
}
.big-text::first-line {
  color: red;
}
.input-dark::placeholder {
  color: green;
}
.big-text::before,
.big-text::after {
  content: '$$$';
  color: green;
}
.before-after::before,
.before-after::after {
  content: '$$$';
  color: green;
}
