/* .card > p {
  background: rgb(64, 0, 255);
  color: rgba(251, 255, 0, 0.3);
} */

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 0.5px blue;
}
p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke: 0.5px rgb(255, 81, 0);
  direction: rtl;
}
/* #test {
  color: initial;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;
} */
/* .card {
  color: red;
} */
/* #test {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;
} */
/* .card {
  color: red;
} */
/* #test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;
} */

/* writing-mode */

/* #test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;
  /* writing-mode: horizontal-tb; 
  /* writing-mode: vertical-rl; 
  /* writing-mode: vertical-lr; 
} */

/* text-align */
#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;
  /* writing-mode: vertical-lr; */
  text-align: right;
  text-align: center;
  text-align: justify;
}
span {
  text-align: left;
  text-transform: capitalize;
  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
  text-decoration: underline dotted red;
  text-decoration-color: blue;
  text-decoration-line: overline;
  /* text-decoration-line: line-through; */
  /* text-decoration-style: solid; */
  /* text-decoration-style: double; */
  /* text-decoration-style: dashed; */
  /* text-decoration-style: wavy; */
}
pre {
  tab-size: 1;
  letter-spacing: normal;
  /* letter-spacing: 10px; */
  letter-spacing: 0.5em;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-display: swap;
}
span {
  font-size: larger;
  font-weight: lighter;
  font-style: normal;
  font-style: italic;
  /* font-style: oblique; */
}
.test {
  display: none;
}
.block {
  display: block;
  background: rgb(247, 245, 245);

  margin: min-content;

  min-width: min-content;
  max-width: 100%;
  min-height: 100px;
  max-height: max-content;
}
